<script src="~/js/map.js" asp-append-version="true"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=@ENV.GOOGLE_API_KEY&callback=initMap&v=weekly"></script>


@using DataAccessLayer.DTO;
@using Environment
@using Models;

@{
    ViewData["Title"] = "Order Details";
}
@model (Booking booking, RoomType roomType, Hotel hotel)
<div class="container-fluid px-5" style="height:90%;">


<div class="row">
       <div class="col-md-3" >
        <div class="card" >
        <img src="@Model.hotel." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Booking: @Model.booking.Id</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Number of people: @Model.booking.Guests</li>
            <li class="list-group-item">Start Date: @Model.booking.StartDate.Value.ToShortDateString()</li>
            <li class="list-group-item">End Date: @Model.booking.EndDate.Value.ToShortDateString()</li>
            <li class="list-group-item">Hotel: @Model.hotel.Name</li>
            <li class="list-group-item">stars: @Model.hotel.Stars</li>
            <li class="list-group-item">Check in hours: @Model.hotel.StaffedHours</li>
            <li class="list-group-item">Roomtype: @Model.roomType.Type</li>
            <li class="list-group-item">room rating: @Model.roomType.Rating</li>
        </ul>
    </div>
   </div>
   <div class="col-md-9 pl-1" >
        <div id="map"> </div>
   </div>
</div>
</div>
<script>
        $(document).ready(function () {
           var href = "api/picture/room/" + @Model.roomType.Id;
           var uri = "https://localhost:44312/";
           axios.get(uri + href)
           .then(result => {
               $('img').attr("src", result.data[0].path);

           }).catch(err => {
               console.log(err);
           })
        })
</script>

    <script>
        $(function () {
            let lat = Number("@Model.hotel.Location.Lat".replace(",","."));
            let lng = Number("@Model.hotel.Location.Lng".replace(",", "."));
        let position = { lat: lat, lng: lng };
        let label = "@Model.hotel.Id";
        let newMarker = new google.maps.Marker({ position, label });

            newMarker.addListener("click", () => {
                infoWindow.setContent("<div class='container'><p>Hotel: @Model.hotel.Name</p> <p> Address: @Model.hotel.Location.StreetAddress</p>  </div>");
          infoWindow.open(map, newMarker);
          });

        clusterMap.addMarker(newMarker, true);
      });
    </script>
