<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@using PrimeStay.MVC.Model
@using Microsoft.AspNetCore.Http;
@{
    var queryParams = new Dictionary<string, string>()
            {
                {"hotelHref",string.Empty},
            };
    var query = Context.Request.Query; 
    query.Keys.ToList().ForEach(key => queryParams.Add(key, Context.Request.Query[key]));

};

@model  List<Hotel> 

<div style="background-image: url('../img/fott1.jpg'); background-size: cover; background-position:center; height: 100%; padding-bottom:50px;">
    <div class="container" style="color:white; font-weight:bold; padding-top:30px;">
        <h1> Find your dream stay!</h1>
    </div>
    <div class="container" style=" max-height:600px; background-color:aliceblue; border-radius: 15px; padding:10px; ">
        <div style="padding:10px;">
            <form asp-action="Result" method="get">
                <div class="row">

                    <div class="col-sm-6">
                        <span class="form-label"> Location</span>
                        <input type="text" name="location" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="@queryParams["location"]" />

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="form-label">Check In</span>
                            <input class="form-control" name="startDate" type="date" value="@queryParams["startDate"]" required="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="form-label">Check out</span>
                            <input class="form-control" type="date" required="" value="@queryParams["endDate"]" name="endDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <span class="form-label">Guests:</span>
                        <input class="form-control" name="guests" type="number" value="@queryParams["guests"]" required="" >
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="form-label">Price from:</span>
                            <input class="form-control" name="minPrice" value="@queryParams["minPrice"]" type="number">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="form-label">Price to:</span>
                            <input class="form-control" name="maxPrice" value="@queryParams["maxPrice"]" type="number">
                        </div>
                    </div>
                </div>
                <div style="padding: 15px;">
                    <center>
                        <input class="btn btn-primary" type="submit" name="Search" style="width:100%;" />
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>

@foreach (Hotel item in Model)
{

    queryParams["hotelHref"] = item.Href;
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4" style=" display: flex; justify-content: center; align-items: center; overflow: hidden; object-fit: cover; ">
                    <img src="https://c.tenor.com/wXTO9bFFJXMAAAAC/loading-slow-internet.gif" id="@item.Id" class=" rounded-start" alt="..." style="min-width: 100%; min-height: 100%; width: auto; height: auto; object-fit: cover; ">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text" style="margin: -5px 0px; "><small class="text-muted">address: @item.Location.Street_Address  City: @item.Location.City  Country: @item.Location.Country</small></p>
                        <p class="card-text">@item.Description</p>

                        <div class="form-group float-right">
                            <br />
                            <a asp-action="Details" 
                            asp-all-route-data=@queryParams ><input class="btn btn-primary " type="button" name="order" value="Order" style="width:150px;" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
      $(function(){
        href = "picture/hotel/" + @item.Id;
        var uri = "https://localhost:44312/api/";
        axios.get(uri + href)
        .then(res => {
            $('#@item.Id').attr("src",res.data[0].path);
        })
        .catch(error => {
            console.log(error);
        });
    });
    </script>
}